<header>
	<div class="container">
		<div class="logo">
			<h1>Admin Panel</h1>
		</div>
		<nav>
			<ul>
				<li>
					<a
						href="/"
						class="<%= (locals.currentPath === '/') ? 'active' : '' %>"
						>Home</a
					>
				</li>
				<li>
					<a
						href="/about"
						class="<%= (locals.currentPath === '/about') ? 'active' : '' %>"
						>About</a
					>
				</li>
				<li>
					<a
						href="/contact"
						class="<%= (locals.currentPath === '/contact') ? 'active' : '' %>"
						>Contact</a
					>
				</li>
				<li>
					<button class="button" style="background-color: rgb(156, 156, 36)">
						Logout
					</button>
				</li>
			</ul>
		</nav>
	</div>
</header>
